@import 'theme';

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
    background-color: var(--bg-color);
    text-align: center;
    font-weight: 400;
    color: var(--text-color);
    font-size: 20px;
    line-height: 32px;
    letter-spacing: -0.06px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    transition: background-color 0.3s ease, color 0.3s ease;
    @media screen and (max-width: 600px) {
        font-size: 18px;
        line-height: 30px;
    }
}

a {
    color: var(--link-color);
}

p {
    margin-bottom: 30px;
    @media screen and (max-width: 600px) {
        margin-bottom: 20px;
    }
}

.header {
    padding: 50px 0 5px;
    @media screen and (max-width: 600px) {
        padding-top: 30px;
    }
    &__avatar {
        border-radius: 50%;
        border: 1px solid var(--avatar-border);
        padding: 3px;
        background-color: var(--avatar-bg);
    }
}

.content {
    padding: 0 20px;
    &__name {
        font-size: 21px;
        font-weight: 400;
        display: inline;
        @media screen and (max-width: 600px) {
            font-size: 19px;
        }
    }
}

.footer {
    padding: 0 20px 20px;
}

// Tooltip custom styles
.tooltip-content {
    cursor: pointer;
    width: 380px;
    margin-bottom: 10px;
    transition-duration: .5s, 1s;
    @media screen and (max-width: 600px) {
        display: none;
    }
    .tooltip-front {
        border: 1px solid var(--tooltip-border);
        border-right: 0;
        width: 80px;
        background-color: var(--tooltip-front-bg);
        &:after {
            border-top-color: var(--tooltip-border);
        }
    }
    .tooltip-back {
        background-color: var(--tooltip-back-bg);
        width: 300px;
        font-size: 13px;
        font-weight: 400;
        padding: 8px;
        text-align: left;
        line-height: 1.2;
        &:after {
            border-top-color: var(--tooltip-back-bg);
        }
    }
    .tooltip-effect-3 & {
        transform: translate3d(0,10px,0) rotate3d(0,0,1,-10deg);
        > span {
            transition: .5s;
        }
    }
}

@media screen and (max-width: 600px) {
    .hide-on-mobile {
        display: none;
    }
}