*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #f5f5f5;
    text-align: center;
    font-weight: 300;
    color: rgba(0, 0, 0, .7);
    font-size: 18px;
    line-height: 1.63;
}
a {
    color: rgba(0, 0, 0, .9);
}
p {
    margin-bottom: 20px;
}

.header {
    padding: 50px 0 5px;
    @media screen and (max-width: 600px) {
        padding-top: 30px;
    }
    &__avatar {
        border-radius: 50%;
        border: 1px solid #AAA;
        padding: 3px;
        background-color: #fff;
    }
}
.content {
    padding: 0 20px;
    &__name {
        font-size: 18px;
        font-weight: 600;
        display: inline;
    }
}

.footer {
    padding: 0 20px 20px;
}

// Tooltip custom styles
.tooltip-content {
    cursor: pointer;
    width: 380px;
    margin-bottom: 10px;
    transition-duration: .5s, 1s;
    @media screen and (max-width: 600px) {
        display: none;
    }
    .tooltip-front {
        border: 1px solid rgba(0, 0, 0, .7);
        border-right: 0;
        width: 80px;
        background-color: #fff;
        &:after {
            border-top-color: #000;
        }
    }
    .tooltip-back {
        background-color: rgba(0,116,217,1);
        width: 300px;
        font-size: 13px;
        font-weight: 400;
        padding: 8px;
        text-align: left;
        line-height: 1.2;
        &:after {
            border-top-color: rgba(0,116,217,1);
        }
    }
    .tooltip-effect-3 & {
        transform: translate3d(0,10px,0) rotate3d(0,0,1,-10deg);
        > span {
            transition: .5s;
        }
    }
}
